<head>
	<meta charset="UTF-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, viewport-fit=cover"
	/>
	<!-- Primary Meta Tags -->

    <title>{{ $title }}</title>
	<meta name="title" content="Grace Bobber" />
	<meta
		name="description"
		content="Grace Bobber is an actor, musician, and dancer living in Chicago. She graduated from Northwestern University and is represented by Shirley Hamilton Talent."
	/>

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.gracebobber.com/" />
	<meta property="og:title" content="Grace Bobber" />
	<meta
		property="og:description"
		content="Grace Bobber is an actor, musician, and dancer living in Chicago. She graduated from Northwestern University and is represented by Shirley Hamilton Talent."
	/>
	<meta property="og:image" content="/images/headshot.jpg" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="https://www.gracebobber.com/" />
	<meta property="twitter:title" content="Grace Bobber" />
	<meta
		property="twitter:description"
		content="Grace Bobber is an actor, musician, and dancer living in Chicago. She graduated from Northwestern University and is represented by Shirley Hamilton Talent."
	/>
	<meta property="twitter:image" content="/images/headshot.jpg" />
	<link rel="shortcut icon" href="/images/sunflower.png" type="image/x-icon" />

	<link rel="preload" href="/dist/styles/base.css" as="style" />
	<link rel="preload" href="/dist/styles/global.css" as="style" />
	<!-- <link rel="preload" href="/styles/index.css" as="style" /> -->

	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Work+Sans:ital,wght@0,400;0,450;1,400;1,450&display=swap"
		rel="stylesheet"
	/>
	<link rel="stylesheet" href="/dist/styles/base.css" />
	<link rel="stylesheet" href="/dist/styles/global.css" />
	<link rel="stylesheet" href="/styles/index.css" />

	<link rel="preload" href="/dist/scripts/menu.js" as="script" />
	<link rel="preload" href="/dist/scripts/mute.js" as="script" />
</head>
