.twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.title {
  font-style: italic;
  font-size: 6rem;
  font-family: "Baskervville";
  line-height: 1.2;
  width: 23rem;
  display: inline-block;
}
.right p:first-of-type {
  text-indent: -1rem;
  margin-top: 1.5rem;
}
.left {
  display: flex;
  flex-direction: column;
}
.band-image {
  width: 100%;
  align-self: center;
  object-fit: cover;
  height: 10px;
  object-position: center;
  opacity: 0;
}
.content {
  margin: 0 15vw;
}
/* gotta do it this way... don't change */
#albumart {
  background: url("/dist/images/albumart.jpeg") center 30%;
  background-size: cover;
}

.linkButtons > .linkButton:hover {
  background: #222222;
  color: white;
}

.linkButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
  grid-column: span 2;
  justify-content: space-around;
  margin: 1rem 0 2rem 0;
}

.linkButtons > .linkButton {
  padding: 2rem;
  border: 0.125rem solid #fff;
  /* margin-top: 2rem; */
  border-radius: 1.5rem;
  background: hsla(0, 0%, 0%, 0.7);
  color: #fff;
  font-size: 2rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.linkButtons > .linkButton:hover {
  color: hsla(0, 0%, 0%, 1);
  background-color: hsla(0, 0%, 100%, 0.75);
  border: 0.125vw solid #222222;
}

@media all and (max-width: 1300px) {
  .content {
    margin: 0 5vw;
  }
}
@media all and (max-width: 775px) {
  .twoCol {
    display: flex;
    flex-direction: column;
  }
  .band-image {
    height: unset;
    max-height: 40vh;
  }
  .title {
    width: 25rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  z-index: 0;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.gig-heading {
  font-style: italic;
}

.modal-content {
  display: flex;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
  height: 80%;
}

.modal-image {
  max-height: 80%;
  max-width: 700px;
  object-fit: scale-down;
}

.modal-arrow-previous,
.modal-arrow-next {
  cursor: pointer;
  width: 100px;
  position: absolute;
  z-index: 2;
}
.modal-arrow-previous {
  padding: 20px 40px 20px 0;
}

.modal-arrow-next {
  right: 0;
  padding: 20px 0 20px 40px;
}

.modal-arrow-hidden {
  opacity: 0;
  cursor: initial;
}

.caption {
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding-top: 10px;
  font-style: italic;
}

/* Add Animation - Zoom in the Modal */
.modal {
  animation-name: zoom;
  animation-duration: 0.2s;
  transform-origin: top center;
}

@keyframes zoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content,
  .modal-image {
    width: 100%;
  }

  .twoCol {
    gap: 0.5rem;
  }
  .modal-arrow-next,
  .modal-arrow-previous {
    bottom: 0;
  }

  .title {
    font-size: 13vw;
    align-items: center;
    width: unset;
    line-height: inherit;
    text-align: center;
  }

  .right p:first-of-type {
    display: flex;
    flex-direction: column;
    text-indent: unset;
    margin-top: 0;
  }

  /* .band-image { */
  /*   max-height: 50vh; */
  /* } */
}
